html {
  background-color: black;
  color: white;
}
#bio{
  color: white;
  text-align: center;
  margin-top:1px;
  padding: 20px;
  height: 30px

#info{
  color: white
  background-color: black;
}
}
h1 {
  color: darkblue;
  text-align: center;
} 
p {
  font-size: 17px;
  margin-top: 0em;
  padding-bottom: 10px;
  padding-top: 5px;
  background-color: midnightblue;
  text-align: right;
}

a:link {
  color: white;
  font-family: 'Times New Roman', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  margin-right:.5em;
  margin-left: .5em;
}
a:visited {
  color: white;
  font-family: 'Times New Roman', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  margin-right:.5em;
  margin-left: .5em;
}
a:hover {
  color: grey;
  font-family: 'Times New Roman', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  margin-right:.5em;
  margin-left: .5em;
}
a:active {
  color: green;
  font-family: 'Times New Roman', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  margin-right:.5em;
  margin-left: .5em;
}